:root {
    --sky-blue: #76ABAE;
    --screen-background: #31363F;
    --app-gray: rgba(255, 255, 255, 0.2);
    --app-light-gray: rgba(255, 255, 255, 0.5);
    --text-color: #F5F7F8;
    --text-shadow: #424769;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sky-blue);
    animation:  onPageLoad 2s ease-out 0s 1;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Tablet styles */

.tablet-container {
    width: 840px;
    height: 640px;
    padding: 24px;
    border-radius: 32px;   
    border: 4px solid transparent;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.5);
    background: linear-gradient(#101010, #101010) padding-box,
                linear-gradient(#EEEEEE 80%, #808080) border-box;
}

.tablet-details {
    position: relative;
    left: -280px;
    display: flex;
}

.tablet-button {
    width: 48px;
    height: 3px;
    margin-right: 8px;
    border-radius: 32px;
    background: linear-gradient(#FFFFFF, #808080);
}

.tablet-button:last-of-type {
    margin-left: 16px;
}

/* Screen Styles */

.screen-container,
.left-side,
.right-side {
    height: 100%;
    padding: 8px;
    display: flex;
    gap: 8px;
    border-radius: 16px;
}

.screen-container {
    width: 100%;
    padding: 8px;
    background-color: var(--screen-background);
}

.left-side {
    width: 35%;
    flex-direction: column;
    background-color: var(--app-gray);
}

.seperator {
    width: 4px;
    border-radius: 50%;
    background-color: var(--app-light-gray);
}

.right-side {
    width: 75%;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--app-gray);
}

/* Input Section Styles */

.title,
.input-box,
.input-buttons,
.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border-radius: 16px;
    background-color: var(--app-light-gray);
}

.title,
.input-label,
.credits,
input,
button {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 0 var(--text-shadow);
    color: var(--text-color);
}

.title {
    height: 40%;
    font-size: 2.5rem;
}

.input-box {
    height: 25%;
}

input,
button {
    border-radius: 8px;
    border: 0;
    background-color: var(--screen-background);
}

input {
    width: 200px;
    height: 30px;
}

.input-buttons {
    height: 25%;
}

button {
    width: 180px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 4px 0 #F5F7F8;
}

button:active {
    position: relative;
    top: 4px;
    box-shadow: none;
    background-color: var(--text-shadow);
}

.credits {
    height: 10%;
}

/* Output Section Styles */

.output {
    width: 100%;
    min-height: 80px;
    padding: 4px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 0 var(--text-shadow);
    color: var(--text-color);
    border-radius: 8px;
    background-color: var(--app-light-gray);
    animation: createOutput 1s ease-in-out 1;
}

.valid {
    border-top: 12px solid #1679AB;
}

.invalid {
    border-top: 12px solid #FF204E;
}

@keyframes onPageLoad {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes createOutput {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}